<header>
    <h1>hotel JB</h1>
    <a ><button>Déconnexion</button></a>
    <nav>
      <ul>
        <li><a routerLink="construction">ACCUEIL</a></li>
        <li><a routerLink="construction">HISTORIQUE CLIENT</a></li>
        <li><a routerLink="construction">INSCRIPTION CLIENT</a></li>
        <li><a routerLink="reservation">RESERVATION CHAMBRE</a></li>
        <li><a routerLink="construction">CONSULTATION DISPO CHAMBRE</a></li>
        <li><a routerLink="construction">ANNULATION RESERVATION</a></li>
        <li><a routerLink="construction">SUPPRESSION CLIENT</a></li>
      </ul>
    </nav>
</header>
